@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cyan: #009ca6;            /* pantone 320c */
    --dark-cyan: #007377;       /* pantone 322c */
    --light-cyan: #2cccd3;      /* pantone 319c */
    --peach: #ff585d;           /* pantone 178c */
    --dark-peach: #E03C31;      /* pantone 179c */
    --light-peach: #FF808B;     /* pantone 177c */

    --back-bg: #eee;
    --fore-bg: #fff;
    --text-color: #111;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --contrast-cyan: var(--dark-cyan);
    --contrast-peach: var(--dark-peach);

    --nav-icon: 2.1rem;
    --nav-padding: .4rem;
    --nav-link-padding: .25rem;
    --nav-collapsed: calc(var(--nav-icon) + 2 * (var(--nav-padding) + var(--nav-link-padding) ));
}

::selection {
    color: white;
    background-color: var(--cyan);
}

body {
    margin-left: var(--nav-collapsed);
    font-family: "Quicksand", Tahoma, Verdana, sans-serif;
}

/* ----------------------------------------------------------------- navbar */
nav {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: hsl(180, 13%, 12%);
    padding: var(--nav-padding);
    clip-path: polygon(0 0, var(--nav-collapsed) 0, var(--nav-collapsed) 100%, 0 100%);
    transition: clip-path ease-out .2s;

    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 30px #0004;
}
nav:hover, nav:focus-within {clip-path: polygon(0 0, calc(100% + 35px) 0, calc(100% + 35px) 100%, 0 100%);}
@media (max-width: 80ch) {
    nav{display:  none;}
    body {margin-left: unset;}
}

nav > ul {list-style: none;}
nav > ul > li + li {
    margin-top: .6rem;
}
nav li.divisor {
    display: block;
    width: 3px;
    height: 2rem;
    margin-left: calc(var(--nav-link-padding) + var(--nav-icon) / 2 - 3px);
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    background-color: hsl(187, 12%, 30%);
    border-radius: 10px;
}
nav a {
    display: grid;
    grid-template-columns: var(--nav-icon) auto;
    column-gap: calc(var(--nav-padding) + var(--nav-link-padding));
    place-items: center;
    text-decoration: none;
    
    transition: background-color .2s ease;
    border-radius: 10px;
    padding: var(--nav-link-padding);
    padding-right: .5rem;
}
nav a:hover {
    background-color: hsl(187, 12%, 20%);
}
nav .link-icon {
    color: var(--cyan);
    transition: filter .2s ease;
}
nav a:hover > .link-icon {filter: unset;}
nav svg.link-icon {
    display: block;
    max-width: var(--nav-icon);
    max-height: var(--nav-icon);
}
nav span.link-icon {
    line-height: var(--nav-icon);
    font-size: var(--nav-icon);
    font-weight: 700;
}
nav .link-text {
    color: white;
    font-weight: 600;
}
span.reset-font {font-family: sans-serif;}
span.fw-700{font-weight: 700;}
span.fw-800{font-weight: 800;}

footer {
    background-color: #333;
    color: white;
    padding: 3.5rem 2rem;
    margin-top: 10rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}
footer a[href^="mailto"] {
    color: var(--cyan);
    font-weight: 600;
}