/* -------------------------------------------------------------- header */
h1 {
    color: hsl(182, 100%, 13%);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-size: clamp(1.5rem, 10vw, 3rem);
}
p {text-align: justify;}
header p {
    display: block;
    width: 75ch;
    max-width: 95%;
    margin: 0 auto;
}
header {margin-bottom: clamp(3rem, 5vw, 6rem);}

/* ------------------------------------------------ sections */
section {
    display: block;
    width: max-content;
    margin: 4rem auto;
}
@media (max-width: 130ch) {
    section {
        width: 60ch;
        max-width: 100%;
        padding: 1rem;
    }
    section > * + * {
        margin-top: 2rem;
        padding: 0 1rem;
    }
}
@media (min-width: 130ch) {
    section {
        display: grid;
        grid-template-columns: 60ch 40ch;
        column-gap: 3rem;
        place-items: center;
    }
}
h2 {
    position: relative;
}
h2::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: -10px;
    width: 3px;
    background-color: var(--cyan);
    border-radius: 10px;
}
h3.subtitle {
    font-size: 1.1rem;
    font-weight: 600;
    color: hsl(0, 0%, 60%);
    margin-bottom: .9rem;
    padding-left: .6ch;
}
section p + p {margin-top: 1rem;}

ul.formulas {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.formulas img {
    height: 2.5em;
    vertical-align: middle;
    padding-bottom: .15em;
    margin-left: 1.5ch;
}

img.center-cropped {
    max-width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}
figcaption {
    text-align: center;
    font-size: .9rem;
    margin-bottom: .1rem;
}

a[href^="http"] {color: var(--dark-cyan);}
a[href^="http"]:focus {
    outline-offset: 3px;
    outline-color: #ccc;
    color: var(--light-peach);
}
a.figure-a {
    text-decoration: none;
    position: relative;
    display: block;
    border-radius: 1rem;
    overflow: hidden;
    color: inherit;
}
a.figure-a::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: attr(data-msg);
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 600;
    clip-path: circle(0);
    transition: clip-path .3s ease;
}
a.figure-a:hover::before,
a.figure-a:focus::before {clip-path: circle(100%);}
a.figure-a:focus::before {content: "\00BB  " attr(data-msg) " \00AB";}
a.figure-a:focus {outline: none;}